@import "./global.scss";

div#Counter {
  background-color: aqua;
  width: 100%;
  margin: 0;
  padding: 0;

  div {
    @include flexCenter;
  }
}

div#CounterDisplay {
  font-size: 4rem;
  font-weight: 1000;
}

div#CounterButtons {
  flex-direction: column;
  font-size: 1.5rem;

  & button:hover {
    background-color: crimson;
  }
}
